
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .fname{
  background-color: red;
  text-align: center;
  margin : auto;
  width : 90%;
}

.lname {
  background-color:greenyellow;
  text-align: center;
  margin : auto;
  width : 90%;
}


label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
} */


/* button {
  

  position: relative;
  display: block;
  width: 20%;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  margin-left: 20%;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
} */

/* .formyt {
  margin: 25px 30px;
}
.divs{
  margin-bottom: 20px; 
  margin-left: 10%;
  margin-top: 10px; 
  
  width: 40%;
  border : 4px ;
  
}
.error1{
  color: yellow;
}
.divs2{
  margin-bottom: 20px; 
  margin-left: 10%;
  margin-top: 10px;
  width: 45%;
  border : 4px ;
  
} */


/* button code */






